{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Tech Other Half | Technex</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta  name="theme-color" content="#031322">
        <meta name="msaplication-navbutton-color" content="#031322">
        <meta name="apple-mobile-web-app-status-bar-color" content="#031322">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/end.css' %}">
    </head>
    <body>
        <div class="outer-container">
            <div class="moon-container">
                <img src="{% static 'images/moon6.png' %}">
            </div>
            <div class="astronaut-outer">
                <img src="{% static 'images/astronaut5.png' %}">
            </div>
            <div class="end-heading">
                We'll get to work now
            </div>
            <div class="end-content">                 
                Keep Calm and<br>
                wait for your<br>
                <div>
                    Tech Other Half
                </div>
            </div>
        </div>
    </body>
</html>